ion-title {
    text-align: center;
    
}
ion-item:hover {
    opacity: .5;
    transition: transform .2s ease;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}